PlotJuggler/*
configstore/*
pulse/*
Code/*
JOSM/*
NovAtelApplicationSuite/*
autostart/*
balena-etcher/*
blender/*
cef_user_data/*
dconf/*
enchant/*
eog/*
evolution/*
gedit/*
gnome-initial-setup-done*
google-chrome/*
gtk-3.0/*
htop/*
ibus/*
libreoffice/*
menus/*
mimeapps.list*
monitors.xml*
monitors.xml~*
nautilus/*
obs-studio/*
remmina/*
simple-scan/*
spotify/*
teamviewer/*
totem/*
user-dirs.dirs*
user-dirs.locale*
vlc/*
wireshark/*
QtProject.conf
.gsd-keyboard.settings-ported
